.logo_font {
    font-family: 'Post No Bills Jaffna Bold Regular';
    font-style: normal;
    font-size: 36px;
}
.logo_font1 {
    position: relative;
    font-family: 'Post No Bills Jaffna Bold Regular';
    font-style: normal;
    text-align: center;
    top: 50%;    
    font-size: 64px;            
    transform: translate(0, -50%);
}
.logo_position {
    margin-left: 21vw;
}
.menu_position {
    margin-left: 19vw;
}
.center-content {
    position: relative;
    margin: 0;
    top: 50%;    
    left: 50%;                    
    transform: translate(-50%, -50%);
}
.text-adapt1 {
    position: relative; 
    margin-top: 25px; 
    text-align: center; 
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    width: 730px;
    font-size: 16px;   
    line-height: 150%;
}
.img-fluid {
    display:block; 
    margin-left: auto; 
    margin-right: auto;
}
.button-opacity {
    border: 1px solid #bcbcbc;
    padding: 10px 20px 10px 20px;
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 18px;   
    text-align: center;
    text-transform: uppercase;
}
a:hover {
    color: #858585;
}
.small-text1 {
    width: 75%;
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 14px;   
    line-height: 21px;
    text-align: center;
}


small {
    font-family: 'Playfair Display Medium';
    font-style: normal;
    font-size: 18px; 
}
h2 {
    font-family: 'Playfair Display Bold';
    font-style: normal;
    font-size: 36px;   
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 22px;   
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
h4 {
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 18px;   
    line-height: 28px;
    text-align: left;
    text-transform: uppercase;
}
hr {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #FFFFFF;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}

.div-slider {
    padding: auto;
}


@media (max-width: 991.98px) {
    #div-logo {
        border: 2px solid #FFFFFF;
    }
    .small-text1 {
        width: auto;
    }
    .logo_position {
        margin-left: 1vw;
    }
}

@font-face {
    font-family: 'Post No Bills Jaffna Bold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Post No Bills Jaffna Bold Regular'), url('../fonts/PostNoBillsJaffna-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Playfair Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('PlayfairDisplay Bold'), url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Playfair Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('PlayfairDisplay Medium'), url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
}